# Install Spark (already done in the VMs)

Run the following code to install Spark in your local environment (this must be done only once).

1. **IMPORTANT**: Java JDK (version 8, 12 or 17; **12** is recommended) and Python **3.11** (Spark 3.5.1 has compatibility issues with above versions of Python) must be installed in your machine.
1. Download Spark at [this link](https://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz).
1. Run the next cell by changing the path to where you have downloaded the file above (alternatively, just unpack the folder into C:\)

In [ ]:
!tar xf "C:\\Users\\YOUR_USERNAME\\Downloads\\spark-3.5.1-bin-hadoop3.tgz" -C "C:\\"

4. Run the next command to install Spark's library for Python

In [ ]:
!python3.11 -m pip install -q findspark

5. Run the following code to set up the environment variables (uncomment only those that you need to set).

In [ ]:
# Check the comments below to add the paths to your Java and Spark homes

import os
# os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-12.0.2" # Change this to the path of your JDK folder
# os.environ["SPARK_HOME"] = "C:\\spark-3.5.1-bin-hadoop3" # Change this to the directory where you have extracted the .tgz file by running the command in the above cell
# os.environ["HADOOP_HOME"] = os.environ["SPARK_HOME"]
# os.environ["PATH"]=os.environ["PATH"]+";"+os.environ["SPARK_HOME"]+"\\bin"

6. **If you run on Windows**, you also need to download the following files and put them in the folder "spark-3.5.1-bin-hadoop3/bin" (see point 3):
    - The Winutils.exe file at [this link](https://github.com/steveloughran/winutils/raw/master/hadoop-3.0.0/bin/winutils.exe)
    - The hadoop.dll file at [this link](https://github.com/steveloughran/winutils/raw/master/hadoop-3.0.0/bin/hadoop.dll)
        - Notice that some browsers block this download because .dll files could be dangerous

# Initialize Spark

This must be done every time you run the notebook.

In [1]:
import findspark
findspark.init()
findspark.find() # Should return the directory of the Spark home

'c:/spark-3.5.1-bin-hadoop3'

In [2]:
import os
from pyspark.sql import SparkSession

os.environ["SPARK_LOCAL_HOSTNAME"] = "localhost"

spark = SparkSession.builder\
        .master("local")\
        .appName("Local Spark")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()
sc = spark.sparkContext

sc

# Spark: working with RDDs

Check the documentation: [here](https://spark.apache.org/docs/latest/api/python/reference/pyspark.html#rdd-apis).

## Basics

In [3]:
# let's create a simple example
riddle1 = "over the bench the sheep lives under the bench the sheep dies"
riddle2 = ["over the bench the sheep lives", "under the bench the sheep dies"]

In [4]:
# create an RDD from the `riddle` string
rdd1 = sc.parallelize(riddle1.split(" "))
# each tuple of the RDD corresponds to a single word

print(rdd1)
# why is there no result returned?

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [8]:
# compute the RDD
print(rdd1.collect())
rdd1.count()

['over', 'the', 'bench', 'the', 'sheep', 'lives', 'under', 'the', 'bench', 'the', 'sheep', 'dies']

12

In [7]:
rdd2 = sc.parallelize(riddle2)
print(rdd2.collect())
rdd2.count()

['over the bench the sheep lives', 'under the bench the sheep dies']

2

## Transformations

In [10]:
# map: returns a new RDD by applying a function to each of the elements in the original RDD
rdd1.map(lambda whatever: whatever.upper()).collect()

['OVER',
 'THE',
 'BENCH',
 'THE',
 'SHEEP',
 'LIVES',
 'UNDER',
 'THE',
 'BENCH',
 'THE',
 'SHEEP',
 'DIES']

In [12]:
# flatMap: returns a new RDD by applying the function to every element of the parent RDD and then flattening the result
rdd2.flatMap(lambda s: s.split(" ")).collect()

[['over', 'the', 'bench', 'the', 'sheep', 'lives'],
 ['under', 'the', 'bench', 'the', 'sheep', 'dies']]

In [13]:
# filter: returns a new RDD containing only the elements in the parent RDD that satisfy the function inside filter
rdd1.filter(lambda s: s.startswith("u")).collect()

['under']

In [14]:
# distinct: returns a new RDD that contains only the distinct elements in the parent RDD
rdd1.distinct().collect()

['over', 'the', 'bench', 'sheep', 'lives', 'under', 'dies']

In [24]:
# groupByKey: groups the values for each key in the (key, value) pairs of the RDD into a single sequence
rdd1.map(lambda s: (s,1)).groupByKey().mapValues(list).collect()

# (first map converts to a key-value RDD)
# (mapValues is a map that operates only on the values - in this case, used to convert from ResultIterable to List for printing reasons)

[('over', [1]),
 ('the', [1, 1, 1, 1]),
 ('bench', [1, 1]),
 ('sheep', [1, 1]),
 ('lives', [1]),
 ('under', [1]),
 ('dies', [1])]

In [23]:
# reduceByKey: when called on a key-value RDD, returns a new dataset in which the values for each of its key are aggregated
rdd1.map(lambda s: (s,(1,2))).reduceByKey(lambda v1, v2: (v1[0] + v2[0], v1[1]/v2[1])).collect()

[('over', (1, 2)),
 ('the', (4, 0.25)),
 ('bench', (2, 1.0)),
 ('sheep', (2, 1.0)),
 ('lives', (1, 2)),
 ('under', (1, 2)),
 ('dies', (1, 2))]

In [25]:
# sortByKey: returns a new RDD with (key,value) pairs of parent RDD in sorted order according to the key
rdd1.map(lambda s: (s,1)).sortByKey().collect()

[('bench', 1),
 ('bench', 1),
 ('dies', 1),
 ('lives', 1),
 ('over', 1),
 ('sheep', 1),
 ('sheep', 1),
 ('the', 1),
 ('the', 1),
 ('the', 1),
 ('the', 1),
 ('under', 1)]

In [28]:
# join: starting from two RDD with (key, value1) and (key, value2) pairs, returns a new RDD with (key, (value1, value2)) pairs

# rddProvinces: (initials, name, region)
rddProvinces = sc.parallelize([("BO", "Bologna", "Emilia-Romagna"),("RA", "Ravenna", "Emilia-Romagna"),("MI", "Milan", "Lombardia")])
# rddPeople: (id, name, province)
rddPeople = sc.parallelize([(1, "Enrico", "RA"),(2, "Alice", "RA"),(3, "Bob", "BO"),(4, "Charlie", "FC")])

# This does not work
rddPeople.join(rddProvinces).collect()

[('BO', 'Bologna', 'Emilia-Romagna'),
 ('RA', 'Ravenna', 'Emilia-Romagna'),
 ('MI', 'Milan', 'Lombardia')]

In [29]:
rddProvinces2 = rddProvinces.map(lambda p: (p[0], (p[1],p[2])))
rddProvinces2.collect()

[('BO', ('Bologna', 'Emilia-Romagna')),
 ('RA', ('Ravenna', 'Emilia-Romagna')),
 ('MI', ('Milan', 'Lombardia'))]

In [30]:
rddPeople2 = rddPeople.map(lambda p: (p[2], (p[0],p[1])))
rddPeople2.collect()

[('RA', (1, 'Enrico')),
 ('RA', (2, 'Alice')),
 ('BO', (3, 'Bob')),
 ('FC', (4, 'Charlie'))]

In [31]:
rddPeople2.join(rddProvinces2).collect()

[('BO', ((3, 'Bob'), ('Bologna', 'Emilia-Romagna'))),
 ('RA', ((1, 'Enrico'), ('Ravenna', 'Emilia-Romagna'))),
 ('RA', ((2, 'Alice'), ('Ravenna', 'Emilia-Romagna')))]

## Actions

In [34]:
# collect: returns a list that contains all the elements of the RDD
rdd1.collect()

['over',
 'the',
 'bench',
 'the',
 'sheep',
 'lives',
 'under',
 'the',
 'bench',
 'the',
 'sheep',
 'dies']

In [37]:
# count: returns the number of elements in the RDD
rdd1.count()

12

In [38]:
# reduce: aggregates the elements of the RDD using a function that takes two elements of the RDD as input and gives the result
sc.parallelize([1, 2, 3, 4, 5]).reduce( lambda x, y: x * y)

120

In [36]:
# take: returns the first n elements of RDD in the same order
rdd1.take(5)

['over', 'the', 'bench', 'the', 'sheep']

In [39]:
# saveAsTextFile: saves the content of the RDD to a file
rdd1.saveAsTextFile("rdd1")

## Comprehension exercise

- Work in pairs. 
- Take a look at the following jobs, understand the meaning of each transformation and the logic of each job.
- Prepare to discuss them.

In [43]:
rdd1\
    .map(lambda s: s.upper())\
    .filter(lambda s: s.startswith("U"))\
    .map(lambda s: list(s))\
    .collect()

[['U', 'N', 'D', 'E', 'R']]

In [44]:
rdd1\
    .map(lambda s: (s, 1))\
    .reduceByKey(lambda a, b: a + b)\
    .sortBy(lambda x: x[1], False)\
    .collect()

[('the', 4),
 ('bench', 2),
 ('sheep', 2),
 ('over', 1),
 ('lives', 1),
 ('under', 1),
 ('dies', 1)]

In [45]:
rdd1\
  .map(lambda s: (s[0], (len(s),1)))\
  .reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))\
  .mapValues(lambda x: x[0]/x[1])\
  .sortBy(lambda x: x[1], False)\
  .collect()

[('b', 5.0),
 ('s', 5.0),
 ('l', 5.0),
 ('u', 5.0),
 ('o', 4.0),
 ('d', 4.0),
 ('t', 3.0)]

# Spark: working with DataFrames

Check the documentation: [here](https://spark.apache.org/docs/3.2.1/api/python/reference/api/pyspark.sql.DataFrame.html).

What is different from Pandas' DataFrames?

- Spark supports parallelization (Pandas doesn't), thus it's more suitable for big data processing
- Spark follows Lazy Execution, which means that a task is not executed until an action is performed (Pandas follows Eager Execution, which means task is executed immediately)
- Spark has immutability (Pandas has mutability)
- The data structure is similar, the APIs are different

In [46]:
df = spark.read.option("delimiter", ",").option("header", "true").csv("../datasets/housing.csv")
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|       NEAR BAY|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|       NEAR BAY|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|       NEAR BAY|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|       NEAR BAY|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [47]:
# Switching from Spark to Pandas
pandasDF = df.toPandas()
print(pandasDF)

      longitude latitude housing_median_age total_rooms total_bedrooms  \
0       -122.23    37.88               41.0       880.0          129.0
1       -122.22    37.86               21.0      7099.0         1106.0
2       -122.24    37.85               52.0      1467.0          190.0
3       -122.25    37.85               52.0      1274.0          235.0
4       -122.25    37.85               52.0      1627.0          280.0
...         ...      ...                ...         ...            ...
20635   -121.09    39.48               25.0      1665.0          374.0
20636   -121.21    39.49               18.0       697.0          150.0
20637   -121.22    39.43               17.0      2254.0          485.0
20638   -121.32    39.43               18.0      1860.0          409.0
20639   -121.24    39.37               16.0      2785.0          616.0

      population households median_income median_house_value ocean_proximity
0          322.0      126.0        8.3252           452600.0        NEAR BAY
1         2401.0     1138.0        8.3014           358500.0        NEAR BAY
2          496.0      177.0        7.2574           352100.0        NEAR BAY
3          558.0      219.0        5.6431           341300.0        NEAR BAY
4          565.0      259.0        3.8462           342200.0        NEAR BAY
...          ...        ...           ...                ...             ...
20635      845.0      330.0        1.5603            78100.0          INLAND
20636      356.0      114.0        2.5568            77100.0          INLAND
20637     1007.0      433.0           1.7            92300.0          INLAND
20638      741.0      349.0        1.8672            84700.0          INLAND
20639     1387.0      530.0        2.3886            89400.0          INLAND

[20640 rows x 10 columns]

In [48]:
# Switching from Pandas to Spark
df = spark.createDataFrame(pandasDF)
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|       NEAR BAY|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|       NEAR BAY|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|       NEAR BAY|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|       NEAR BAY|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|       NEAR BAY|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|       NEAR BAY|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|       NEAR BAY|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|       NEAR BAY|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [ ]:
# select: returns a new DataFrame with only selected columns (similar to a map on RDDs)
df.select('population','median_house_value').show()

In [ ]:
# select, similarly to a map, allows column values to be redefined
df.select(df.population,df.median_house_value/1000).show()
# put the operation within parenthesis and add .alias('median_house_value_in_K$')

In [ ]:
# withColumn: used to manipulate (rename, change the value, convert the datatype)
# an existing column in a dataframe (or to create a new column) while keeping the rest intact
df.withColumn('median_house_value_in_K$',df.median_house_value/1000).show()

In [ ]:
# filter: returns a new DataFrame containing only the elements in the parent DataFrame that satisfy the function inside filter (as in RDDs)
# orderBY: orders the DataFrame by the selected column(s)
df.filter(df.population > 1000).orderBy(df.population.asc()).show()

In [ ]:
# groupBy: returns a new DataFrame which is the result of an aggregation
df.groupBy(df.ocean_proximity).agg({'median_house_value': 'avg', '*': 'count'}).show()

In [ ]:
# withColumnRenamed: rename a column
df.groupBy(df.ocean_proximity).agg({'*': 'count'}).withColumnRenamed("count(1)", "tot").show()

In [49]:
# SQL queries can be run on a DataFrame
df.createOrReplaceTempView("housing")
spark.sql("select ocean_proximity, avg(median_house_value) as avg_price from housing group by ocean_proximity order by avg_price desc").show()

+---------------+------------------+
|ocean_proximity|         avg_price|
+---------------+------------------+
|         ISLAND|          380440.0|
|       NEAR BAY|259212.31179039303|
|     NEAR OCEAN|249433.97742663656|
|      <1H OCEAN|240084.28546409807|
|         INLAND|124805.39200122119|
+---------------+------------------+

# Exercise: from Big Data to Smaller Data

Case study: weather measurements from the National Climatic Data Center of the USA

We are provided with the following dataset.

- weather-stations.csv: it contains a list of weather stations that capture weather information every day of every year throughout the world
  - Each station is identified by a StationID
  - Additional information about the stations are available (coordinates, country, elevation, etc.)
  - Not that big: ~30K stations, less than 3MB
- weather-measurements.txt: it contains the data measured by a certain station on a certain date
  - Each weather measurement is identified by a StationID and a Date
  - Measurements provide a lot of information (about temperature, humidity, etc.)
  - Can be pretty big! 30K stations * 365 days * 10 kinds of measurements = ~13GB per year
  - Our file is a simplified -and smaller- version based on the real one

Here, we want to exploit a big data tool (Spark) to make the data less expensive to store and still interesting for analytical purposes. In particular, we want to:
- Clean the dataset
- Join the tables
- Produce a small(er) data cube that can be easily accessed by OLAP tools

![image.png]()

The pipeline can be summarized as follows.

1. Cleaning
    1. On the stations file:
        1. replace empty states and countries in stations with a placeholder value (e.g., "XX");
        1. keep only the following fields: stationId, state, country
    1. On the weather-sample file:
        1. filter out weather wrong measurements (i.e., where airTemperatureQuality=9);
        1. keep only the following fields: stationId, airTemperature, date, month, year
        1. create a new fulldate field by concatenating year, month, and date in the format "YYYY-MM-DD"
        1. create a new fullmonth field by concatenating year and month in the format "YYYY-MM"
1. Integrating
    1. Join stations with weather measurements on the stationId field
    1. Keep only the following fields: state, country, fulldate, fullmonth, year, airTemperature
1. Summarizing
    1. Aggregate the measurements by state and date to take the average temperature
        - Group by: state, country, fulldate, fullmonth, year
        - Calculation: avg(airTemperature)
1. Save the result on a file

## Spark

In [ ]:
dfW = sc.textFile("../datasets/weather-measurements.txt")\
  .map(lambda l: (
    l[5:16],              # stationId
    l[16:20],             # year
    l[20:22],             # month
    l[22:24],             # day
    int(l[30:35]) / 10,   # airTemperature
    l[35:36]              # airTemperatureQuality
  ))\
  .toDF(["stationId","year","month","day","airTemperature","airTemperatureQuality"])
dfW.show()

In [ ]:
from pyspark.sql.functions import concat
dfS = spark.read.option("delimiter", ",").option("header", "false").csv("../datasets/weather-stations.csv")
dfS = dfS.select(concat(dfS[0],dfS[1]),dfS[2],dfS[3],dfS[4],dfS[5],dfS[6],dfS[7],dfS[8],dfS[9],dfS[10])\
  .toDF("stationId","city","country","state","call","latitude","longitude","elevation","date_begin","date_end")
dfS.show()

1. Cleaning
    1. On the stations file:
        1. replace empty states and countries in stations with a placeholder value (e.g., "XX");
        1. keep only the following fields: stationId, state, country

In [ ]:
dfS1 = dfS.fillna({'state': 'XX', 'country':'XX'})
dfS2 = dfS1.select('stationId','state','country')
dfS2.show()

1. Cleaning
    1. ...
    1. On the weather-sample file:
        1. filter out weather wrong measurements (i.e., where airTemperatureQuality=9);
        1. keep only the following fields: stationId, airTemperature, date, month, year
        1. create a new fulldate field by concatenating year, month, and date in the format "YYYY-MM-DD"
        1. create a new fullmonth field by concatenating year and month in the format "YYYY-MM"

In [ ]:
from pyspark.sql.functions import concat, lit
dfW1 = dfW.where("airTemperatureQuality < 9")
dfW2 = dfW1.select('stationId','airTemperature','day','month','year')
dfW3 = dfW2.withColumn("fulldate", concat(dfW1.year,lit("-"),dfW1.month,lit("-"),dfW1.day))
dfW4 = dfW3.withColumn("fullmonth", concat(dfW1.year,lit("-"),dfW1.month))
dfW4.show()

2. Integrating
    1. Join stations with weather measurements on the stationId field

In [ ]:
dfJ = dfS2.join(dfW4, "stationId")
dfJ.show()

2. Integrating
    1. ...
    1. Keep only the following fields: state, country, fulldate, fullmonth, year, airTemperature

In [ ]:
dfJ2 = dfJ.select("state", "country", "fulldate", "fullmonth", "year", "airTemperature")
dfJ2.show()

3. Summarizing
    1. Aggregate the measurements by state and date to take the average temperature
        - Group by: state, country, fulldate, fullmonth, year
        - Calculation: avg(airTemperature)

In [ ]:
dfG = dfJ2.groupBy("state", "country", "fulldate", "fullmonth", "year").agg({'airTemperature': 'avg'})
dfG.show()

4. Save the result on a file

In [23]:
dfG.write.mode('overwrite').option('header','true').csv("./weather-cube")

## Analytics

Load the data from the CSV file and use the technique of your preference to:
- Show the average temperature by country on a map
- Visualize the daily trend of average temperatures for Italy, France, Switzerland, Norway, and USA

Feel free to ask this to an LLM!

# Additional exercises

### Getting familiar with data frame transformations

Carry out the following operations (in any order).

- ```.select()``` operator; starting from ```dfS```:
  1. keep only country, elevation, date_begin, and date_end
  1. keep only the first four characters of date_begin using [sf.substring](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.substring.html)
  1. use [concat](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.concat.html) to concatenate date_begin with date_end and putting an underscore (\_) in the middle; since the underscore is not a column, declare it as ```sf.lit("_")```
  1. use [coalesce](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.coalesce.html) to take the value of country if not null, otherwise the value of city
  1. put countries in lowercase using [sf.lower](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.lower.html)
  1. in the previous four points, use ```.alias()``` to give a meaningful name to the obtained columns
- ```.withColumn()``` operator; starting from ```dfS```:
  1. do the same as points 2 to 5 of the ```select``` operator, but using ```withColumn```
- ```.filter()``` operator; starting from ```dfS```, keep only the rows where:
  1. elevation is greater than 5000
  1. country is not null, using [sf.isnotnull](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.isnotnull.html)
  1. conditions 1 and 2 are both true; conditions must be put between parenthesis and separated by "&" (e.g., check [here](https://www.geeksforgeeks.org/pyspark-filter-dataframe-based-on-multiple-conditions/))
  1. either one of conditions 1 and 2 is true; conditions must be put between parenthesis and separated by "|" (e.g., check [here](https://www.geeksforgeeks.org/pyspark-filter-dataframe-based-on-multiple-conditions/))
  1. date_begin is the first day of the month (requires to use substring)
- ```.groupBy()``` operator; starting from ```dfW```:
  1. group by airTemperatureQuality to count how many rows there are for each value
  1. as above, but also calculate the average temperature
  1. as above, but also given meaningful names to the results using ```withColumnRenamed```
  1. group by month to calculate the minimum and maximum temperatures and order by month using ```orderby```; to aggregate differently on the same column, use the [sf.max](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.max.html) and [sf.min](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.min.html) functions inside the ```agg``` function instead of the object enclosed by brackets ```{}```
  1. group by month and day to calculate the minimum and maximum temperatures
  1. group by stationId and year month to count the number of rows

### Complete exercises

Carry out the following exercises (in any order).

- Check if there exist stations with a negative elevation; then, calculate how many of these stations exist in each country; rename the result to "cnt" and order the result by decreasing cnt
- Take only stations with positive elevation, compute the maximum elevation by country and rename the result to "elevation"; then, join the result with the original dfS to get, for each country, the name of the city with the highest elevation (join key: ```["country","elevation"]```); order the result by decreasing elevation
- Take only weather values with airQuality==1, compute the minimum temperature for each stationId and rename it to "minTemperature"; then, join the result with dfS and keep only the columns "minTemperature" and "elevation"; finally, use the correlation between the two columns. To do the last part, you need to:
  - cast the elevation to an integer datatype: you need to add ```from pyspark.sql.types import IntegerType``` and then ```df.myfield.cast(IntegerType())```;
  - compute the correlation with ```df.stat.corr("myfield1","myfield2")```.